/**
 * Переменные
 * Файл подключаются в webpack.config.js для доступа из любого .scss-файла верстки
 */

$text-size:           10px;
$base-gutter:         10px;
$base-radius:         10px;
$color-dark-emphasis: #6500A1;
$color-non-emphasis:  #777777;
