<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb--thin">
                <li><a href="#link">Главная</a></li>
                <li><a href="#link">Детская одежда</a></li>
                <li class="active">Ветровка</li>
            </ol>
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-card__article">
                        <div class="product-card__goods">
                            <div class="slider-product-assets">
                                <div class="slider-product-assets__container owl-carousel owl-theme" data-slider-id="1">
                                    <img src="Assets/Images/1.jpg" data-zoom-image="Assets/Images/1.jpg" data-gallery-image="Assets/Images/1.jpg" alt="">
                                    <img src="Assets/Images/2.jpg" data-zoom-image="Assets/Images/2.jpg" data-gallery-image="Assets/Images/2.jpg" alt="">
                                    <img src="Assets/Images/3.jpg" data-zoom-image="Assets/Images/3.jpg" data-gallery-image="Assets/Images/3.jpg" alt="">
                                    <img src="Assets/Images/1.jpg" data-zoom-image="Assets/Images/1.jpg" data-gallery-image="Assets/Images/1.jpg" alt="">
                                    <img src="Assets/Images/2.jpg" data-zoom-image="Assets/Images/2.jpg" data-gallery-image="Assets/Images/2.jpg" alt="">
                                    <img src="Assets/Images/3.jpg" data-zoom-image="Assets/Images/3.jpg" data-gallery-image="Assets/Images/3.jpg" alt="">
                                    <img src="Assets/Images/1.jpg" data-zoom-image="Assets/Images/1.jpg" data-gallery-image="Assets/Images/1.jpg" alt="">
                                    <img src="Assets/Images/2.jpg" data-zoom-image="Assets/Images/2.jpg" data-gallery-image="Assets/Images/2.jpg" alt="">
                                    <img src="Assets/Images/3.jpg" data-zoom-image="Assets/Images/3.jpg" data-gallery-image="Assets/Images/3.jpg" alt="">
                                </div>
                                <div class="slider-product-assets__thumbs" data-slider-id="1">
                                    <img class="slider-product-assets__thumb slider-product-assets__thumb--is-active"
                                         src="Assets/Images/thumb1.jpg" data-slide="0" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb2.jpg"
                                         data-slide="1" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb3.jpg"
                                         data-slide="2" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb1.jpg"
                                         data-slide="3" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb2.jpg"
                                         data-slide="4" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb3.jpg"
                                         data-slide="5" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb1.jpg"
                                         data-slide="6" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb2.jpg"
                                         data-slide="7" alt="">
                                    <img class="slider-product-assets__thumb" src="Assets/Images/thumb3.jpg"
                                         data-slide="8" alt="">
                                </div>
                            </div>
                            <div class="product-card__attributes">
                                <h1 class="product-card__name">Плащ-дождевик синего цвета для гендерно определившихся
                                    детей и мальчиков</h1>
                                <p class="product-card__sku">Код: 123456 Арт: 00000-000</p>
                                <p class="product-card__short-description">Плащ синего цвета для гендерно определившихся детей
                                    мальчиков. Модный плащ. Выполнен из эластичного волокна, без примесей пластика.
                                    Модель с удлинённой спинкой декорирована контрастными вставками.</p>
                                <a class="button button--goto" href="#full-attributes">
                                    полное описание
                                    <span><span></span><span></span><span></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="product-card__same-goods">
                            <form class="catalog-product-card">
                                <div class="catalog-product-card__backdrop">
                                    <a href="#goods" class="catalog-product-card__image">
                                        <img src="Assets/Images/same_good.jpg" alt="">
                                    </a>
                                    <a href="goods" class="catalog-product-card__name">Ветровка розовая для гендерно
                                        неопредленных детей и девочек</a>
                                    <div class="price price--catalog">
                                        <div class="price__backdrop">
                                            <div class="price__old">
                                                1800 Р
                                            </div>
                                            <div class="price__current">
                                                1000 Р
                                            </div>
                                        </div>
                                        <div class="price__quantity">
                                            <div>
                                                <a class="price__minus" href="#minus">-</a>
                                                <input class="price__count" type="text" value="1">
                                                <a class="price__plus" href="#plus">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="button button--incart" type="submit" value="Купить">
                                    <a href="#more" class="catalog-product-card__link">
                                        Подробней
                                    </a>
                                </div>
                            </form>
                            <form class="catalog-product-card">
                                <div class="catalog-product-card__backdrop">
                                    <a href="#goods" class="catalog-product-card__image">
                                        <img src="Assets/Images/same_good.jpg" alt="">
                                    </a>
                                    <a href="goods" class="catalog-product-card__name">Ветровка розовая для гендерно
                                        неопредленных детей и девочек</a>
                                    <div class="price price--catalog">
                                        <div class="price__backdrop">
                                            <div class="price__old">
                                                1800 Р
                                            </div>
                                            <div class="price__current">
                                                1000 Р
                                            </div>
                                        </div>
                                        <div class="price__quantity">
                                            <div>
                                                <a class="price__minus" href="#minus">-</a>
                                                <input class="price__count" type="text" value="1">
                                                <a class="price__plus" href="#plus">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="button button--incart" type="submit" value="Купить">
                                    <a href="#more" class="catalog-product-card__link">
                                        Подробней
                                    </a>
                                </div>
                            </form>
                            <form class="catalog-product-card">
                                <div class="catalog-product-card__backdrop">
                                    <a href="#goods" class="catalog-product-card__image">
                                        <img src="Assets/Images/same_good.jpg" alt="">
                                    </a>
                                    <a href="goods" class="catalog-product-card__name">Ветровка розовая для гендерно
                                        неопредленных детей и девочек</a>
                                    <div class="price price--catalog">
                                        <div class="price__backdrop">
                                            <div class="price__old">
                                                1800 Р
                                            </div>
                                            <div class="price__current">
                                                1000 Р
                                            </div>
                                        </div>
                                        <div class="price__quantity">
                                            <div>
                                                <a class="price__minus" href="#minus">-</a>
                                                <input class="price__count" type="text" value="1">
                                                <a class="price__plus" href="#plus">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="button button--incart" type="submit" value="Купить">
                                    <a href="#more" class="catalog-product-card__link">
                                        Подробней
                                    </a>
                                </div>
                            </form>
                            <form class="catalog-product-card">
                                <div class="catalog-product-card__backdrop">
                                    <a href="#goods" class="catalog-product-card__image">
                                        <img src="Assets/Images/same_good.jpg" alt="">
                                    </a>
                                    <a href="goods" class="catalog-product-card__name">Ветровка розовая для гендерно
                                        неопредленных детей и девочек</a>
                                    <div class="price price--catalog">
                                        <div class="price__backdrop">
                                            <div class="price__old">
                                                1800 Р
                                            </div>
                                            <div class="price__current">
                                                1000 Р
                                            </div>
                                        </div>
                                        <div class="price__quantity">
                                            <div>
                                                <a class="price__minus" href="#minus">-</a>
                                                <input class="price__count" type="text" value="1">
                                                <a class="price__plus" href="#plus">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="button button--incart" type="submit" value="Купить">
                                    <a href="#more" class="catalog-product-card__link">
                                        Подробней
                                    </a>
                                </div>
                            </form>
                        </div>
                        <!--
                        <ul class="product-card__menu">
                            <li><a href="#description">Описание</a></li>
                            <li><a href="#attributes">Характеристики</a></li>
                        </ul>
                        -->
                        <div id="full-attributes" class="product-card__information">
                            <h2 id="description">Описание</h2>
                            <div>
                                <p>Удобные опоры из дерева.</p>
                                <p>Лёгкие, простые в использовании.</p>
                                <p>Можно установить песочницу и убрать в любое удобное место.</p>
                                <p>Устойчивы, покрыты прозрачным лаком.</p></div>
                            <h2 id="attributes">Характеристики</h2>
                            <div class="extra_fields">
                                <div class="block_efg">
                                    <div class="extra_fields_group"></div>
                                    <div class="extra_fields_el"><span
                                                class="extra_fields_name">Производитель</span>:<span
                                                class="extra_fields_value"> Ты и Я! </span></div>
                                    <div class="extra_fields_el"><span class="extra_fields_name">Модель</span>:<span
                                                class="extra_fields_value"> Опоры деревянные </span></div>
                                    <div class="extra_fields_el"><span
                                                class="extra_fields_name">Наличие на складе</span>:<span
                                                class="extra_fields_value"> в наличии </span></div>
                                    <div class="extra_fields_el"><span class="extra_fields_name">Размер</span>:<span
                                                class="extra_fields_value"> 600 мм </span></div>
                                    <div class="extra_fields_el"><span class="extra_fields_name">Материал</span>:<span
                                                class="extra_fields_value"> Дерево </span></div>
                                    <div class="extra_fields_el"><span
                                                class="extra_fields_name">Особенность</span>:<span
                                                class="extra_fields_value"> Удобные, лёгкие для установки песочницы </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-card__sidebar">
                        <div class="price-panel">
                            <div class="price">
                                <div class="price__backdrop">
                                    <div class="price__old">
                                        1800 Р
                                    </div>
                                    <div class="price__current">
                                        1000 Р
                                    </div>
                                </div>
                                <div class="price__quantity">
                                    <p>Количество:</p>
                                    <div>
                                        <a class="price__minus" href="#minus">-</a>
                                        <input class="price__count" type="text" value="1">
                                        <a class="price__plus" href="#plus">+</a>
                                    </div>
                                </div>
                            </div>
                            <input class="button button--incart" type="submit" value="Купить">
                            <div class="price-panel__linkgroup">
                                <a class="qf2modal" href="#modal" data-project="2">Быстрый заказ</a>
                                <a class="qf2modal" href="#modal" data-project="4">Узнать оптовую цену</a>
                            </div>
                            <div class="price-panel__delivery">
                                <span>Доставка: <a href="/dostavka-i-oplata" target="_blank"
                                                   title="Откроется в новой вкладке">Подробней о доставке</a></span>
                                <img src="Assets/Images/delivery.png" alt="">
                                <p>Стоимость <strong>от 300 Р</strong></p>
                                <p>Отправим <strong>завтра</strong></p>
                                <p>Оплата <strong>при получении</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
